body {
    background: #e7d8c5;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    float: left;
    width:25%;
    text-align: center;
    cursor: pointer;
}

.logo-image {
    background: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 80px;
    display: inline-block;
}

.line {
    display: inline-block;
    width: calc(50% - 66px);
    border: 1px solid black;
    margin: 0px 5px 0px 5px;
}

#content {
    margin-top: 50px;
    padding: 20px;
    clear: both;
    min-height: 400px;
}

