img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.home a {
    text-decoration:none;
    color:black;
}

#cboxCurrent {
    font-family: sans-serif;
}

.list {
    font-size: large;
}

.logo {
    width: 100%;
    height: 100%;
    padding-top:200px;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#menu {
    background: black;
    opacity: 0.83;
    padding: 10px;
}

#menu ul {
    list-style-type: none;
    height: 40px;
    margin: 0px;
}

#menu li {
    float: left;
    width:25%;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.home {
   text-align: center;
    padding-top: 300px;
}

.line {
    display: inline-block;
    width: calc(50% - 66px);
    border: 1px solid black;
    margin: 0px 5px 0px 5px;
}

#content {
    margin-top: 50px;
    padding: 20px;
    clear: both;
    min-height: 400px;
}

.brick img {
    border: 4px solid white;
    margin: 0px;
}

@font-face {
    font-family: 'cocomat';
    src: url('/fonts/Cocomat-Light.ttf');
}

body {
    margin: 0;
    font-family: cocomat;
}

.page-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
    padding: 20px;
}

a {
    text-decoration: underline;
    color: #d4ccab;
    text: underline;
}